.input-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-size: 20px;
  margin-bottom: 10px;

  > input {
    margin-left: 20px;
    font-size: 20px;
    width: 270px;
  }
}
