.add-vehicle-page {
  > form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 40px auto 0 auto;

    .vehicle-input-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 50px;

      .vehicle-info-input-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0;
      }
    }
  }
}
