.navigator {
  width: 80vw;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .link-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .sign-out-link {
      font-size: 13px;
      margin-left: 50px;
      cursor: pointer;
    }
  }
}
