.navigator {
  width: 80vw;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .link-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .sign-out-link {
      color: black;
      font-size: 20px;
      margin-left: 20px;
      cursor: pointer;
    }
  }
}
