@import '../../../assets/scss/variables';

.sign-up-page {
  margin-top: $page-margin-top;

  > form {
    display: flex;
    flex-direction: column;
    width: 60%;
    max-width: 550px;
    min-width: 500px;
    margin: 40px auto 0 auto;
  }
}
