@import '../../assets/scss/variables';

.vehicle-info {
  color: $sub-color;
  width: 100%;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 15px;

  .vehicle-info-value {
    color: $font-color;
  }
}
