@mixin shrinkLabel {
  top: -20px;
  font-size: 12px;
  color: #fd7014;
}

.input-box {
  position: relative;
  margin: 0 auto 45px auto;
  width: 400px;

  > input {
    display: block;
    background: none;
    border: none;
    border-bottom: 1px solid #eeeeee;
    border-radius: 0;
    margin: 25px 0;
    width: 100%;
    font-size: 17px;
    color: #eeeeee;

    &:focus {
      outline: none;
    }

    &:focus ~ .input-label {
      @include shrinkLabel();
    }

    ::-webkit-calendar-picker-indicator {
      color: #eeeeee;
      background-color: #eeeeee;
    }
  }

  > input[type='date']::-webkit-calendar-picker-indicator {
    background-color: #eeeeee;
    cursor: pointer;
  }

  .input-label {
    color: #eeeeee;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 0px;
    top: -5px;
    transition: 300ms ease all;

    &.shrink {
      @include shrinkLabel();
    }

    &.date-label {
      color: #eeeeee;
    }
  }
}

.short {
  width: 250px;
}
