@import '../../assets/scss/variables';

.nav-link {
  margin-left: 50px;

  > a {
    text-decoration: none;
    color: $font-color;
    font-size: 14px;
  }
}

.inline-link {
  margin-top: 7px;
  > div {
    > p {
      display: inline;
      padding-right: 7px;
      font-size: 13px;
    }
    > a {
      color: $font-color;
      font-size: 13px;
      font-weight: 700;
    }
  }
}
