@import '../../../assets//scss/variables';

.vehicle-detail-page {
  margin: $page-margin-top auto;

  .button-group-in-vehicle-detail {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .vehicle-basic-info {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;

    .vehicle-info-edit-section {
      margin-left: 70px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      .vehicle-info-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }

  .vehicle-service-table {
    width: 80%;
    margin: 0 auto;
  }
}
