@import '../../../assets/scss/variables';

.vehicle-detail-page {
  margin: $page-margin-top auto;

  .popup-container {
    position: absolute;
    top: 0;
    left: 0;
    .service-detail-popup-overlay {
      position: fixed;
      background-color: $background-color;
      width: 100vw;
      height: 100vh;
      opacity: 0.9;
    }

    .service-detail-popup {
      background-color: $dark-sub-color;
      position: fixed;
      z-index: 999;
      width: 500px;
      height: 500px;
      top: calc((100vh - 500px) / 2);
      left: calc((100vw - 500px) / 2);
    }
  }

  .button-group-in-vehicle-detail {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .vehicle-basic-info {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;

    .vehicle-info-edit-section {
      margin-left: 70px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      .vehicle-info-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }

  .vehicle-service-table {
    width: 80%;
    margin: 0 auto;
  }
}
