@import '../../assets/scss/variables';

.service-note-box {
  .service-note {
    width: 500px;
    height: 200px;
    display: block;
    margin: 0 auto;
    background-color: $dark-sub-color;
    color: $font-color;
    font-size: 17px;
    resize: none;
    padding: 8px;

    &:focus {
      outline: none;
    }
    margin-bottom: 40px;
  }
}
