@import '../../assets/scss/variables';

.btn {
  font-size: 17px;
  padding: 15px 120px 15px 120px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  background-color: $main-color;
  color: $font-color;

  > a {
    text-decoration: none;
    background-color: $main-color;
    color: $font-color;
  }
}

.btn-in-add-vehicle-page {
  margin: 0 auto;
}

.btn-in-sign-in-page,
.btn-in-sign-up-page,
.btn-in-homepage {
  width: 330px;
  margin: 30px auto 0 auto;
  font-weight: 700;
}

.btn-in-vehicle-detail {
  border-radius: unset;
  padding: 10px 60px 10px 60px;
  font-size: 15px;
  background-color: $sub-color;
  color: $background-color;
}

.delete-btn {
  background-color: red;
  border-radius: unset;
  padding: 5px 70px 5px 70px;
  font-size: 13px;
}
