.btn {
  font-size: 17px;
  padding: 15px 120px 15px 120px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  background-color: #fd7014;
  color: white;

  > a {
    text-decoration: none;
    background-color: #fd7014;
    color: white;
  }
}

.btn-in-add-vehicle-page {
  width: 30%;
  min-width: 170px;
  margin: 0 auto;
}

.btn-in-sign-in-page,
.btn-in-sign-up-page,
.btn-in-homepage {
  width: 330px;
  margin: 30px auto 0 auto;
  font-weight: 700;
}
