@import '../../../assets//scss/variables';

.my-page {
  margin-top: $page-margin-top;
  margin-bottom: 100px;

  .vehicle-selection-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
  }
}
