@import '../../assets/scss/variables';

.vehicle-image-container {
  width: 280px;
  height: 280px;
  border: solid $sub-color 1px;
  border-radius: 10px;
  background-color: $dark-sub-color;

  .default-image {
    margin-top: 70px;
    width: 150px;
    height: 150px;
    background-color: $dark-sub-color;
  }
}

.no-border {
  border: none;
  border-radius: 0;
}
