@import '../../assets/scss/variables';

.vehicle-image-input-box {
  .vehicle-image {
    width: 280px;
    height: 280px;
    border: solid $sub-color 1px;
    border-radius: 10px;
    overflow: hidden;

    .no-image-sign {
      width: 200px;
      height: 50px;
      background-color: $sub-color;
      margin: auto;
      margin-top: 110px;

      > p {
        background-color: $sub-color;
        padding-top: 15px;
      }
    }

    > img {
      width: 280px;
      height: 280px;
    }
  }
  .file-input-label {
    cursor: pointer;
    border: none;
    background-color: $dark-sub-color;
    color: $font-color;
    display: inline-block;
    padding: 12px 50px;
    margin-top: 20px;
    font-size: 12px;
    .file-input {
      display: none;
    }
  }
}
